* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;
}

#sidebar {
    width: 25%;
    float: left;
    padding: 10px;
    background-color: black;
    color: white;
}

#content {
    width: 75%;
    float: right;
    background-color: whitesmoke;
    padding: 20px;
}

#footer {
    clear: both;
    background-color: grey;
    text-align: center;
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
}